@font-face {
  font-family: 'PTSans';
  src: url('../fonts/pt_sans-web-regular.eot');
  src: url('../fonts/pt_sans-web-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-regular.woff') format('woff'),
  url('../fonts/pt_sans-web-regular.woff2') format('woff2'),
  url('../fonts/pt_sans-web-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/pt_sans-web-bold.eot');
  src: url('../fonts/pt_sans-web-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-bold.woff') format('woff'),
  url('../fonts/pt_sans-web-bold.woff2') format('woff2'),
  url('../fonts/pt_sans-web-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'tt_prosto_sans';
  src: url('../fonts/tt_prosto_sans_regular.eot');
  src: url('../fonts/tt_prosto_sans_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tt_prosto_sans_regular.woff') format('woff'),
  url('../fonts/tt_prosto_sans_regular.woff2') format('woff2'),
  url('../fonts/tt_prosto_sans_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'tt_prosto_sans';
  src: url('../fonts/tt_prosto_sans_bold.eot');
  src: url('../fonts/tt_prosto_sans_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tt_prosto_sans_bold.woff') format('woff'),
  url('../fonts/tt_prosto_sans_bold.woff2') format('woff2'),
  url('../fonts/tt_prosto_sans_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}