@import (less) "normalize.css";
html {
    background: @white;
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
    font-family: 'PTSans';
    font-weight: 400;
    color: @dark;
    .fsize(14);
}
.main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 5.5rem;
}
.container {
    max-width: 96rem;
    margin: auto;
}
.clear {
    display: block;
    clear: both;
}
.clearfix {
    &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}
.header {
    border-bottom: 1px solid @header-line;
    padding: 2.5rem 0 1.5rem;
}
.header__logo {
    display: inline-block;
    width: 20.12rem;
    img {
        width: 100%;
        height: auto;
    }
}
.header__nav {
    float: right;
    font-weight: 400;
    padding: 2.2rem 0 0;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 0 0 2rem;
            list-style: none;
            a {
                position: relative;
                .fsize(13);
                color: @menu-color;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
                &.active {
                    cursor: default;
                    &:after {
                        width: 100%;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    border-top: 1px solid @menu-color;
                    transform: translate(-50%, 0);
                    transition: width .3s, left .3s;
                }
            }
            &.active {
                a {
                    cursor: default;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
footer {
    height: 5rem;
    padding: 1.7rem 0;
    box-sizing: border-box;
    margin-top: -5rem;
}
.footer {
    color: @dark;
    .fsize(14);
}
.footer__copyright {
    display: inline-block;
    margin: 0 4rem 0 0;
}
.footer__contacts {
    display: inline-block;
}
.foot-contacts {
    .link-email {
        color: @dark;
        text-decoration: none;
    }
    .link-phone {
        color: @dark;
        text-decoration: none;
    }
}
.foot-contacts__email {
    display: inline-block;
}
.foot-contacts__phone {
    display: inline-block;
}
.foot-contacts__links {
    display: inline-block;
    .link {
        display: inline-block;
        margin: 0 0 0 0.5rem;
        vertical-align: top;
        width: 1.6rem;
        height: 1.6rem;
        transition: all 0.25s ease;
        &.link--1 {

        }
        &.link--2 {

        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.main-content {
    padding: 3.2rem 0 0;
    .container {

    }
}
h1 {
    margin: 0 0 1.5rem;
    color: @dark;
    font-weight: 700;
    .fsize(18);
    text-transform: uppercase;
}
h2 {
    font-weight: 700;
    margin: 0 0 1.4rem;
    .fsize(14);
}
.about-content__left {
    display: inline-block;
    width: 48.8%;
    float: left;
}
.about-content__section {
    margin: 0 0 5rem;
    .fsize(14);
    p {
        margin: 0 0 0.75rem;
    }
    ul {
        padding: 0;
        margin: 0 0 0.75rem;
        li {
            list-style: none;
        }
    }
}
.about-content__right {
    display: inline-block;
    width: 48.8%;
    float: right;
}
.crewman-wrap {
    margin-bottom: -2.5rem;
}
.crewman {
    margin: 0 0 3rem;
    &:after {
        display: block;
        content: '';
        width: 100%;
        clear: both;
    }
}
.crewman__image {
    display: inline-block;
    float: left;
    width: 15rem;
    img {
        width: 100%;
    }
}
.crewman__right {
    display: inline-block;
    margin-left: 1.8rem;
}
.crewman__name {
    margin: 0 0 1.2rem;
    .fsize(14);

}
.crewman__phone {
    color: @dark;
    .fsize(14);
    text-decoration: none;
}
.crewman__email {
    color: @dark;
    .fsize(14);
    text-decoration: none;
}

.contacts-content__left {
    display: inline-block;
    width: 48.8%;
    float: left;
    margin: 1.5rem 0 0;
}
.contacts__label {
    display: block;
    margin: 1.75rem 0 0.25rem;
    color: @contacts-label;
    .fsize(14);
    &:first-child {
        margin-top: 0;
    }
}
.contacts__phone {
    color: @dark;
    .fsize(30);
    text-decoration: none;
}
.contacts__email {
    color: @dark;
    .fsize(24);
    text-decoration: none;
}
.contacts__skype {
    color: @dark;
    .fsize(24);
    text-decoration: none;
}

.contacts-content__right {
    display: inline-block;
    width: 48.8%;
    float: right;
    margin: 1.5rem 0 0;
}
.contacts__form {

}
.form-title {
    .fsize(14);
    color: @contacts-form-title;
    margin: 0 0 0.3rem;
}
.input-wrap {
    margin-bottom: 1.8rem;
    &.input-wrap--small-left {
        display: inline-block;
        width: 47.8%;
        float: left;
    }
    &.input-wrap--small-right {
        display: inline-block;
        width: 47.8%;
        float: right;
    }
}
.textarea {
    display: block;
    padding: 0.9rem 2rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid @input-border;
    .fsize(14);
    outline: none;
    transition: all 0.25s ease;
    &:focus {
        border: 1px solid darken(@input-border, 15%);
    }
}
.input {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0.9rem 2rem;
    box-sizing: border-box;
    border: 1px solid @input-border;
    .fsize(14);
    outline: none;
    transition: all 0.25s ease;
    &:focus {
        border: 1px solid darken(@input-border, 15%);
    }
}
.btn-send {
    display: block;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    color: @white;
    text-decoration: none;
    background: @send-btn;
    border: none;
    transition: all 0.25s ease;
    outline: none;
    &:hover {
        background: darken(@send-btn, 10%);
    }
    &:active {
        background: darken(@send-btn, 15%);
    }
}

.projects-filter {

}
.filter-item {
    position: relative;
    display: inline-block;
    color: @dark;
    .fsize(13);
    margin: 0 2.3rem 1.1rem 0;
    text-decoration: none;
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        border-top: 1px solid @menu-color;
        transform: translate(-50%, 0);
        transition: width .3s, left .3s;
    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
    &.active {
        cursor: default;
        &:after {
            width: 100%;
        }
    }
}

.projects-wrap {

}
.project-item {
    display: inline-block;
    position: relative;
    width: 15.9%;
    float: left;
    margin-left: 0.92%;
    margin-bottom: 0.92%;
    background: @project-tile-bg;
    overflow: hidden;
    transition: all 0.3s linear;
    &:hover {
        .project-item__preview {
            opacity: 1;
        }
    }
    &:first-child {
        margin-left: 0;
    }
    &:nth-child(6n+1) {
        margin-left: 0;
    }
}
.project-item__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
}
.project-item__preview {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.project-wrap {
    padding: 0.8rem 0 0;
}
.project-left {
    display: inline-block;
    width: 23.5%;
    float: left;
}
.project-right {
    display: inline-block;
    float: right;
    width: 74.5%;
}
.project-image {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    img {
        display: block;
        vertical-align: top;
        width: 100%;
    }
}
.project-left__icon {
    width: 45.5%;
    margin: 0 0 1rem;
    img {
        width: 100%;
    }
}
.project-descrip {
    line-height: 1.4;
    .fsize(14);
    h1 {
        margin: 0;
    }
    .line {
        background: @project-descrip-line;
        height: 1px;
        width: 100%;
        clear: both;
        margin: 1.2rem 0;
    }
    p {

    }
}
.project-info {
    strong {
        text-transform: uppercase;
        font-weight: 700;
    }
    p {
        margin: 0;
    }
}

.index-slider {
    position: relative;
    margin-top: -1.3rem;
}
/* begin slider */
.flex-container a:hover,
.flex-slider a:hover {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    position: relative;
    transition: all 0.2s ease;
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    position: relative;
    zoom: 1;
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 5.7rem;
    line-height: 2.5rem;
    text-align: center;
    .fsize(20);
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: @slider-arrow;
    transition: all 0.25s ease;
    &:hover {
        color: @slider-arrow-hover;
    }
}
.flex-direction-nav .flex-prev {
    right: 3rem;
}
.flex-direction-nav .flex-next {
    right: 0.2rem;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1;
}
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.flex-pauseplay a:before {
    .fsize(20);
    display: inline-block;
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a.flex-play:before {

}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

.flex-caption, .slider-line {
    position: absolute;
    width: auto;
    padding: 1.9rem 9.8rem 1.6rem 2.3rem;
    margin: 0;
    right: 0;
    top: 4rem;
    background: fade(@slider-line, 60%);
    color: @slider-title;
    .fsize(20);
    text-transform: uppercase;
    line-height: 1;
    transition: all 0.4s ease;
    span {
        display: inline-block;
        transition: all 0.4s ease;
    }
}
/* end slider */


.blog-wrapper {
    width: 102.2%;
    margin-left: -1.1%;
    margin-bottom: -2.5rem;
}
.blog-item {
    display: inline-block;
    width: 48.9%;
    box-sizing: border-box;
    margin-bottom: 5rem;
    padding: 0 1.1%;
}
.blog-item__title {
    margin: 0;
    color: @dark;
    .fsize(14);
    font-weight: 700;
}
.blog-item__date {
    color: @blog-item-date;
    .fsize(10);
    font-weight: 400;
}
.blog-item__excerption {
    margin: 0.75rem 0 1.5rem;
    color: @dark;
    .fsize(14);
}
.blog-item__thumbs {

}
.blog-images {
    .image-big {
        display: block;
        width: 100%;
        vertical-align: top;
        img {
            display: block;
            width: 100%;
            vertical-align: top;
        }
    }
    .image-small {
        display: inline-block;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        float: left;
        width: 23.9%;
        margin-top: 1.466666666666667%;
        margin-left: 1.466666666666667%;
        &:nth-child(4n + 1) {
            margin-left: 0;
        }
        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 100%;
            vertical-align: top;
            &.horiz {
                height: 100%;
                width: auto;
                min-width: 100%;
            }
            &.vert {
                width: 100%;
                min-height: 100%;
            }
        }
    }
}


/* lightbox */
/* Preload images */
body:after {
    content: url(../images/decor/close.png) url(../images/decor/loading.gif) url(../images/decor/prev.png) url(../images/decor/next.png);
    display: none;
}
body.lb-disable-scrolling {
    overflow: hidden;
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}
.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    vertical-align: top;
}
.lightbox a img {
    border: none;
}
.lb-outerContainer {
    position: relative;
    background-color: white;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}
.lb-container {
}
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/decor/loading.gif) no-repeat;
}
.lb-nav {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.lb-container > .nav {
    left: 0;
}
.lb-nav a {
    display: block !important;
    position: fixed;
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
    height: 100%;
    top: 0;
    cursor: pointer;
    display: block;
}
.lb-nav a.lb-prev {
    top: 0;
    height: 100%;
    width: 12%;
    left: 0;
    float: left;
    background: url(../images/decor/prev.png) left 48% no-repeat;
    background-position: 50% 50%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.lb-nav a.lb-next {
    top: 0;
    height: 100%;
    width: 12%;
    right: 0;
    float: right;
    background: url(../images/decor/next.png) right 48% no-repeat;
    background-position: 50% 50%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.lb-dataContainer {
    display: block !important;
    margin: 0 auto;
    padding-top: 3rem;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}
.lb-data {
    padding: 0 4px;
    color: #e1e1e1;
}
.lb-data .lb-details {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 1.1em;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}
.lb-data .lb-close {
    position: fixed;
    top: 5%;
    right: 6%;
    z-index: 11;
    display: block !important;
    float: right;
    width: 17px;
    height: 17px;
    background: url(../images/decor/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/* endlightbox */


.menu-toggle {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 10px;
    width: 3.5rem;
    z-index: 11;
    transition: padding 0.3s linear;
    &.active {
        position: fixed;
        padding-top: 7px;
        i {
            background: @white;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                margin-top: -4px;
            }
            &:nth-child(3) {
                opacity: 0;
            }
        }
    }
    i {
        display: block;
        margin-top: 6px;
        height: 4px;
        background: @dark;
        transition: all 0.3s linear;
        &:first-child {
            margin-top: 0;
        }
    }
}


@media (max-width: 1000px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width: 640px) {
    .menu-toggle {
        display: inline-block;
    }
    .header__nav {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100%;
        right: -100%;
        float: none;
        padding: 0;
        top: 0;
        background: fade(@dark, 75%);
        transition: all 0.3s ease;
        &.active {
            right: 0;
        }
        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            margin: 0;
            text-align: center;
            li {
                display: block;
                a {
                    display: inline-block;
                    padding: 1rem;
                    color: @white;
                    .fsize(20);
                    font-weight: 700;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .footer__contacts {
        display: block;
        margin-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    footer {
        text-align: center;
        height: 11.5rem;
        margin-top: -11.5rem;
    }
    .main-wrapper {
        padding-bottom: 11.5rem;
    }
    .footer__contacts {
        color: @white;
    }
    .footer__copyright {
        display: block;
        margin: 0;
    }
    .foot-contacts__email {
        display: block;
        margin: 0 0 -1rem;
    }
    .foot-contacts__phone {
        display: block;
        margin: 0 0 -1rem;
    }
    .foot-contacts__links {
        display: block;
        margin: 0;
    }
}