@import (less) "normalize.css";
html {
    background: @white;
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
    font-family: 'tt_prosto_sans', 'PTSans', Arial;
    font-weight: 400;
    color: @dark;
    .fsize(14);
}
.main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 14rem;
    min-width: 320px;
    overflow: hidden;
}
.container {
    max-width: 96rem;
    margin: auto;
}
.clear {
    display: block;
    clear: both;
}
.clearfix {
    &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}
header {
    background: @white;
    min-height: 8rem;
}
.header {
    position: relative;
    z-index: 1001 !important;
    background: @white;
    border-bottom: 1px solid @header-line;
    padding: 2.5rem 0 1.5rem;
    &:before {
        content: '';
        position: absolute;
        left: -500%;
        bottom: -1px;
        width: 1000%;
        height: 1px;
        background: @header-line;
    }
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1000%;
        left: -500%;
        top: 0;
        background: @white;
        z-index: -1;
    }
}
.header__logo {
    display: inline-block;
    float: left;
    width: 20.12rem;
    img {
        width: 100%;
        height: auto;
    }
}
.header__nav {
    display: inline-block;
    float: left;
    margin: 0 0 0 4%;
    font-weight: 400;
    padding: 2rem 0 0;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 0 0 4rem;
            list-style: none;
            a {
                position: relative;
                .fsize(14);
                font-weight: 700;
                color: @menu-color;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.2s;
                &:hover {
                    color: @header-line;
                    &:after {
                        /*width: 100%;*/
                    }
                }
                &.active {
                    cursor: default;
                    /*&:after {
                        width: 100%;
                    }*/
                }
                /*&:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    border-top: 1px solid @menu-color;
                    transform: translate(-50%, 0);
                    transition: width .3s, left .3s;
                }*/
            }
            &.active {
                > a {
                    color: @header-line;
                    cursor: default;

                }
            }
        }
    }
}
.header__search {
    display: inline-block;
    float: right;
    margin: 2rem 0 0;
}
.search__input {
    border: none;
    width: 12rem;
    outline: none;
    .fsize(16);
    font-weight: 600;
    cursor: default;
    padding: 0 2rem 0 0;
    box-sizing: border-box;
    &:focus {
        cursor: text;
        + .search__label {
            .search__icon {
                svg {
                    path {
                        fill: @header-line;
                    }
                }
            }
        }
    }
}
.search__icon {
    display: inline-block;
    vertical-align: top;
    margin: 0.4rem 0 0;
    width: 1.3rem;
    cursor: pointer;
    svg {
        display: inline-block;
        width: 100%;
        height: auto;
        transition: all 0.25s;
        line, circle {
            transition: all 0.25s;
        }
    }
    &:hover {
        svg {
            opacity: 0.4;
        }
    }
}
.search__label {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 -1.3rem;
}

footer {
    min-width: 320px;
    height: 5rem;
    padding: 1.7rem 0;
    box-sizing: border-box;
    margin-top: -5rem;
}
.footer {
    color: @dark;
    .fsize(12);
}
.footer__copyright {
    display: inline-block;
    float: right;
    margin: 0;
    a {
        color: @dark;
        text-decoration: none;
        &:hover {
            color: @gray;
        }
    }
}
.footer__contacts {
    display: inline-block;
}
.footer__made-by {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 2.5rem;
    color: @dark;
    a {
        color: @dark;
        text-decoration: none;
        &:hover {
            color: @gray;
        }
    }
}
.foot-contacts {
    .link-email {
        color: @dark;
        text-decoration: none;
    }
    .link-phone {
        color: @dark;
        text-decoration: none;
    }
}
.foot-contacts__email {
    display: inline-block;
}
.foot-contacts__phone {
    display: inline-block;
}
.foot-contacts__links {
    display: inline-block;
    .link {
        display: inline-block;
        float: left;
        margin: 0 0 0 1.8rem;
        vertical-align: top;
        width: 1.6rem;
        height: 1.6rem;
        transition: all 0.25s ease;
        background-size: 100% 100%;
        &:first-child {
            margin-left: 0;
        }
        &.link--1 {
            background-image: url(../images/decor/fb.png);
        }
        &.link--2 {
            background-image: url(../images/decor/vk.png);
        }
        &.link--3 {
            background-image: url(../images/decor/insta.png);
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.main-content {
    padding: 8rem 0 0;
    .container {

    }
}
h1 {
    margin: 0 0 1.5rem;
    color: @dark;
    font-weight: 700;
    .fsize(18);
    text-transform: uppercase;
}
h2 {
    font-weight: 700;
    margin: 0 0 1.4rem;
    .fsize(14);
}
.about-content__left {
    display: inline-block;
    width: 45%;
    float: left;
    padding-top: 2.5rem;
}
.about-content__section {
    margin: 0 0 5rem;
    .fsize(14);
    p {
        margin: 0 0 0.75rem;
    }
    ul {
        padding: 0;
        margin: 0 0 0.75rem;
        li {
            list-style: none;
        }
    }
}
.about-content__right {
    display: inline-block;
    width: 49%;
    float: right;
    padding-top: 1rem;
    h2 {
        margin: -5rem 0 4.3rem 0;
        color: #333333;
        font-weight: 700;
        .fsize(18);
        text-transform: uppercase;
    }
}
.crewman-wrap {
    margin-bottom: -2.5rem;
}
.crewman {
    margin: 0 0 2rem;
    &:after {
        display: block;
        content: '';
        width: 100%;
        clear: both;
    }
}
.crewman__image {
    display: inline-block;
    float: left;
    width: 12rem;
    img {
        width: 100%;
    }
}
.crewman__right {
    display: inline-block;
    margin-left: 1.8rem;
}
.crewman__name {
    margin: 0 0 1.2rem;
    .fsize(14);

}
.crewman__phone {
    color: @dark;
    .fsize(14);
    text-decoration: none;
}
.crewman__email {
    color: @dark;
    .fsize(14);
    text-decoration: none;
}
.crewman__social {
    a {
        display: inline-block;
        text-decoration: none;
        width: 1.6rem;
        margin-left: 1rem;
        opacity: 0.5;
        transition: opacity 0.2s ease;
        &:first-child {
            margin-left: 0;
        }
        svg {
            path {
                fill: @menu-color;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    .soc-1 {

    }
    .soc-2 {

    }
    .soc-3 {

    }
}

.contacts-content__left {
    display: inline-block;
    width: 46%;
    float: left;
    margin: 1.2rem 0 0;
    p {
        color: @dark;
        .fsize(15);
    }
}
.contacts__label {
    display: block;
    margin: 1.75rem 0 0.25rem;
    color: @contacts-label;
    .fsize(14);
    &:first-child {
        margin-top: 0;
    }
}
.contacts__phone {
    color: @dark;
    //.fsize(30);
    text-decoration: none;
}
.contacts__email {
    color: @dark;
    //.fsize(24);
    text-decoration: none;
}
.contacts__skype {
    color: @dark;
    .fsize(24);
    text-decoration: none;
}

.contacts-content__right {
    display: inline-block;
    width: 49%;
    float: right;
    margin: 1.5rem 0 0;
}
.contacts__form {

}
.form-title {
    .fsize(18);
    margin: -5.5rem 0 4.5rem;
    color: #333333;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.input-wrap {
    position: relative;
    margin-bottom: 1.2rem;
    &.input-wrap--small-left {
        display: inline-block;
        width: 48.5%;
        float: left;
    }
    &.input-wrap--small-right {
        display: inline-block;
        width: 48.5%;
        float: right;
    }
}
.textarea {
    display: block;
    padding: 1.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid @input-border;
    .fsize(14);
    resize: none;
    outline: none;
    transition: all 0.25s ease;
    &:focus {
        border: 1px solid darken(@input-border, 15%);
    }
    &.error {
        border-color: red;
    }
}
.input {
    display: block;
    width: 100%;
    height: 5rem;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border: 1px solid @input-border;
    .fsize(14);
    outline: none;
    transition: all 0.25s ease;
    &:focus {
        border: 1px solid darken(@input-border, 15%);
    }
    &.error {
        border-color: red;
    }
}
.textarea:-moz-placeholder,
.textarea:-ms-input-placeholder,
.textarea::-moz-placeholder,
.textarea::-webkit-input-placeholder,
.input:-moz-placeholder,
.input:-ms-input-placeholder,
.input::-moz-placeholder,
.input::-webkit-input-placeholder {
    color: @gray;
}
.btn-send {
    display: block;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    color: @white;
    text-decoration: none;
    background: @gray;
    border: none;
    transition: all 0.25s ease;
    outline: none;
    &:hover {
        background: darken(@gray, 10%);
    }
    &:active {
        background: darken(@gray, 15%);
    }
}

.projects-filter {
    margin-top: -5rem;
}
.filter-item {
    position: relative;
    display: inline-block;
    color: @dark;
    text-transform: uppercase;
    .fsize(13);
    font-weight: 700;
    margin: 0 2.3rem 1.1rem 0;
    text-decoration: none;
    transition: all 0.2s;
    /*&:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        border-top: 1px solid @menu-color;
        transform: translate(-50%, 0);
        transition: width .3s, left .3s;
    }*/
    &:hover {
        color: @gray;
        /*&:after {
            width: 100%;
        }*/
    }
    &.active {
        cursor: default;
        color: @header-line;
        &:after {
            width: 0;
        }
    }
}

.projects-wrap {
    position: relative;
    overflow: hidden;
    width: 102%;
    margin-left: -0.45%;
    margin-top: 2.4rem;
    text-align: justify;
}
.project-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 15.7%;
    float: left;
    margin: 0 0.45% 0.92%;
    background: @project-tile-bg;
    overflow: hidden;
    //transition: all 0.3s linear;
    transform-style: preserve-3d;
    &.mix {
        display: none;
    }
    &:hover {
        .project-item__preview {
            opacity: 1;
        }
    }
}
.project-item__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
}
.project-item__preview {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.project-wrap {

}
.project-left {
    display: inline-block;
    width: 34.5%;
    float: left;
}
.project-right {
    display: inline-block;
    float: right;
    width: 59.5%;
}
.project-image {
    display: block;
    width: 100%;
    margin: 0 0 3rem;
    img {
        display: block;
        vertical-align: top;
        width: 100%;
    }
}
.project-left__title {
    time {
        color: @gray;
        .fsize(13);
    }
    h1 {
        .fsize(17);
        line-height: 1.3;
        margin: 0 0 1.3rem;
    }
}
.project-left__icon {
    display: inline-block;
    float: left;
    width: 7rem;
    margin: 0.2rem 2rem 0 0;
    img {
        width: 100%;
    }
}
.project-descrip {
    line-height: 1.4;
    .fsize(13);
    h1 {
        margin: 0;
    }
    .line {
        background: @gray;
        height: 1px;
        width: 100%;
        clear: both;
        margin: 2rem 0;
    }
    p {

    }
}
.project-info {
    strong {
        display: inline-block;
        float: left;
        width: 45%;
        text-transform: uppercase;
        font-weight: 400;
    }
    span {
        display: inline-block;
        float: left;
        width: 55%;
        text-transform: uppercase;
        color: @gray;
    }
    p {
        margin: 0.9rem 0;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}
.project-descrip-text {
    text-align: justify;
}
.project-share {
    .fsize(14);
}
.project-share_link {
    color: @dark;
    &:hover {
        text-decoration: none;
    }
}

.index-slider {
    position: relative;
    overflow: hidden;
    padding-top: 0.3rem;
    &:hover {
        .slider-line {
            bottom: 0;
        }
        .flex-direction-nav a {
            opacity: 1;
            transition: all 1.5s ease;
        }
    }
}
/* begin slider */
.flex-container a:hover,
.flex-slider a:hover {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    position: relative;
    transition: all 0.2s ease;
    display: none;
    -webkit-backface-visibility: hidden;
    a {
        display: block;
        width: 100%;
        text-decoration: none;
        img {
            width: 100%;
        }
    }
    .desktop {
        display: block;
        height: 64rem;
    }
    .mobile {
        display: none;
    }
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    position: relative;
    zoom: 1;
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 4rem;
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 2.5rem;
    text-align: center;
    .fsize(20);
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: @slider-arrow;
    background-image: url(../images/decor/slider-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 3rem;
    transition: all 0.5s ease;
    &:hover {
        color: @slider-arrow-hover;
    }
}
.flex-direction-nav .flex-prev {
    left: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.flex-direction-nav .flex-next {
    right: 0;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1;
}
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.flex-pauseplay a:before {
    .fsize(20);
    display: inline-block;
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a.flex-play:before {

}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

.flex-caption, .slider-line {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1.9rem 2.3rem 1.6rem 2.3rem;
    margin: 0;
    right: 0;
    bottom: -5rem;
    font-weight: 400;
    background: fade(@slider-line, 80%);
    color: @slider-title;
    .fsize(15);
    text-transform: uppercase;
    line-height: 1;
    transition: all 0.5s ease;
    span {
        display: inline-block;
        transition: all 0.4s ease;
    }
}
/* end slider */


.blog-wrapper {
    width: 102.2%;
    margin-left: -1.1%;
    margin-bottom: -2.5rem;
    padding-top: 2.7rem;
}
.blog-item {
    display: inline-block;
    width: 48.9%;
    box-sizing: border-box;
    margin-bottom: 5rem;
    padding: 0 1.1%;
}
.blog-item__title {
    margin: 0;
    text-transform: uppercase;
    color: @dark;
    .fsize(14);
    font-weight: 700;
}
.blog-item__date {
    color: @blog-item-date;
    .fsize(10);
    font-weight: 400;
}
.blog-item__excerption {
    margin: 0.75rem 0 1.5rem;
    color: @dark;
    .fsize(14);
}
.blog-item__thumbs {

}
.blog-images {
    .image-big {
        display: block;
        width: 100%;
        vertical-align: top;
        img {
            display: block;
            width: 100%;
            vertical-align: top;
        }
    }
    .image-small {
        display: inline-block;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        float: left;
        width: 23.9%;
        margin-top: 1.466666666666667%;
        margin-left: 1.466666666666667%;
        &:nth-child(4n + 1) {
            margin-left: 0;
        }
        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 100%;
            vertical-align: top;
            &.horiz {
                height: 100%;
                width: auto;
                min-width: 100%;
            }
            &.vert {
                width: 100%;
                min-height: 100%;
            }
        }
    }
}


/* lightbox */
/* Preload images */
body:after {
    content: url(../images/decor/close.png) url(../images/decor/loading.gif) url(../images/decor/prev.png) url(../images/decor/next.png);
    display: none;
}
body.lb-disable-scrolling {
    overflow: hidden;
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    display: none;
}
.lightbox {
    position: absolute;
    left: 0;
    //top: 0 !important;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    vertical-align: top;
}
.lightbox a img {
    border: none;
}
.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}
.lb-container {
}
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/decor/loading.gif) no-repeat;
}
.lb-nav {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.lb-container > .nav {
    left: 0;
}
.lb-nav a {
    display: block !important;
    position: fixed;
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
    height: 100%;
    top: 0;
    cursor: pointer;
    display: block;
}
.lb-nav a.lb-prev {
    top: 0;
    height: 100%;
    width: 12%;
    left: 0;
    float: left;
    background: url(../images/decor/arrow.svg) left 48% no-repeat;
    background-position: 50% 50%;
    background-size: 3rem;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.lb-nav a.lb-next {
    top: 0;
    height: 100%;
    width: 12%;
    right: 0;
    float: right;
    background: url(../images/decor/arrow.svg) right 48% no-repeat;
    background-position: 50% 50%;
    background-size: 3rem;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.lb-dataContainer {
    display: block !important;
    margin: 0 auto;
    padding-top: 3rem;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}
.lb-data {
    padding: 0 4px;
    color: #e1e1e1;
}
.lb-data .lb-details {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 1.1em;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}
.lb-data .lb-close {
    position: fixed;
    top: 5%;
    right: 5.5%;
    z-index: 11;
    display: block !important;
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/decor/cross.svg) top right no-repeat;
    background-size: 100%;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* endlightbox */


.menu-toggle {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 10px;
    width: 3.5rem;
    z-index: 101;
    transition: padding 0.3s linear;
    &.active {
        position: absolute;
        padding-top: 7px;
        i {
            background: @white;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                margin-top: -4px;
            }
            &:nth-child(3) {
                opacity: 0;
            }
        }
    }
    i {
        display: block;
        margin-top: 6px;
        height: 4px;
        background: @dark;
        transition: all 0.3s linear;
        &:first-child {
            margin-top: 0;
        }
    }
}
.toggle-categories {
    position: relative;
    margin-top: -6px !important;
    vertical-align: top;
    transition: all 0.3s ease;
    &.active {
        vertical-align: top;
        margin-top: 2px !important;
    }
}
.toggle-categories-btn {
    position: relative;
    z-index: 3;
    vertical-align: top;
    width: 15px;
    cursor: pointer;
    padding: 6px 3px 3px 3px;
    margin-top: 2px;
    transition: all 0.3s ease;
    border: 1px solid @white;
    &.active {
        margin-top: -5px;
        border: 1px solid @header-line;
        border-bottom: 1px solid @white;

        i {
            &:nth-child(1) {
                transform: rotate(45deg);
                margin-top: 2px;
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                margin-top: -1px;
            }
            &:nth-child(3) {
                opacity: 0;
            }
        }
    }
    i {
        display: block;
        margin-top: 3px;
        height: 1px;
        background: @menu-color;
        transition: all 0.3s ease;
        &:first-child {
            margin-top: 0;
        }
    }
}
.toggle-categories-menu {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
    margin-top: -1px;
    width: 15rem;
    padding: 1rem 2.2rem;
    background: @white;
    border: 1px solid @header-line;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    ul {
        li {
            display: block;
            margin: 1rem 0;
            a {
                text-transform: lowercase;
                .fsize(14);
            }
        }
    }
}

label.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-weight: 400;
    .fsize(11);
}
.preloader {
    display: none;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.message {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    .fsize(13);
    &.success {
        color: green;
    }
    &.error {
        color: red;
    }
}

.search-results-list {
    line-height: 1.4;
    li {
        display: block;
        margin: 1rem 0;
        a {
            color: @menu-color;
            text-decoration: none;
            text-transform: uppercase;
            .fsize(16);
            font-weight: 700;
            &:hover {
                color: @gray;
            }
        }
    }
}
.search-not-found {
    .fsize(14);
    .title {
        text-transform: uppercase;
        font-weight: 700;
        .fsize(18);
    }
    > ul {
        .fsize(13);
        > li {
            margin: 1rem 0;
        }
    }
    ul {
        li {
            list-style: none;
            a {
                color: @menu-color;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: @gray;
                }
            }
            ul {
                margin: 1.2rem 0;
            }
        }
    }
}


@media (max-width: 1000px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 960px) {
    .header__search {
        display: none;
    }
}
@media (max-width: 800px) {
    .footer__made-by {
        margin: 0 0 0 1.5rem;
    }
}
@media (max-width: 768px) {
    .about-content__left {
        display: block;
        width: 100%;
        float: none;
    }
    .about-content__right {
        display: block;
        width: 100%;
        float: none;
    }
    .header__nav {
        margin: 0 0 0 2%;
        ul li {
            margin: 0 0 0 1.5rem;
        }
    }
    .main-content {
        padding: 5rem 0 0;
    }
    .projects-filter {
        margin-top: -2rem;
    }
}
@media (max-width: 640px) {
    .menu-toggle {
        display: inline-block;
    }
    .header__nav {
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100%;
        right: -100%;
        float: none;
        padding: 0;
        top: 0;
        background: fade(@dark, 75%);
        transition: all 0.3s ease;
        &.active {
            right: 0;
        }
        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            margin: 0;
            text-align: center;
            li {
                display: block;
                margin: 0;
                padding: 0;
                a {
                    display: inline-block;
                    padding: 1rem;
                    color: @white;
                    .fsize(20);
                    font-weight: 700;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .header__logo {
        float: none;
    }
    .about-content__section {
        margin: 0 0 2.5rem;
    }
    .blog-wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .blog-item {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }
    .contacts-content__left {
        display: block;
        width: 100%;
        float: none;
    }
    .contacts-content__right {
        display: block;
        width: 100%;
        float: none;
    }
    .projects-wrap {
        width: 102%;
        margin-left: -1%;
    }
    .project-item {
        width: 22.55%;
        margin: 0 1% 1%;
    }
    .project-left {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 1rem;
    }
    .project-right {
        display: block;
        width: 100%;
        float: none;
    }
    .project-left__icon {
        width: auto;
        margin: 0 0 1rem;
        display: inline-block;
    }
    .toggle-categories-btn {
        display: none;
    }
    .flexslider .slides > li {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    .footer__contacts {
        display: block;
        margin-top: 0.5rem;
    }
    footer {
        text-align: center;
    }
    .footer__made-by {
        display: block;
        margin: 3.5rem 0 0;
        text-align: center;
    }
    .footer__copyright {
        display: block;
        margin: 1rem 0 0;
        float: none;
        width: 100%;
        text-align: center;
    }
    .about-content__right h2 {
        margin: 0rem 0 2.1rem 0;
    }
    .form-title {
        margin: 4rem 0 2rem;
    }
    .foot-contacts__links .link {
        float: none;
    }
}
@media (max-width: 480px) {
    footer {
        text-align: center;
        height: 11.5rem;
        margin-top: -11.5rem;
    }
    .main-wrapper {
        padding-bottom: 11.5rem;
    }
    .footer__contacts {
        color: @white;
    }
    .footer__copyright {
        display: block;
        margin: 0;
    }
    .foot-contacts__email {
        display: block;
        margin: 0 0 -1rem;
    }
    .foot-contacts__phone {
        display: block;
        margin: 0 0 -1rem;
    }
    .foot-contacts__links {
        display: block;
        margin: 0;
    }
    .crewman {
        margin: 0 0 1rem;
    }
    .crewman__image {
        width: 8rem;
    }
    .footer__made-by {
        margin: 1.7rem 0 0;
    }
    .projects-filter {
        i {
            display: block;
        }
    }
    .filter-item {
        margin-right: 0;
        .fsize(15);
    }
}
@media (max-width: 420px) {
    .projects-wrap {
        width: 103%;
        margin-left: -2%;
    }
    .project-item {
        width: 46%;
        margin: 0 2% 4%;
    }
    .input-wrap {
        &.input-wrap--small-left {
            display: block;
            float: none;
            width: 100%;
        }
        &.input-wrap--small-right {
            display: block;
            float: none;
            width: 100%;
        }
    }
}

@media (min-width: 960px) {
    .contacts-content__right {
        width: 470px;
    }
    .input-wrap {
        margin-bottom: 10px;
    }
    .input-wrap.input-wrap--small-left {
        width: 230px;
    }
    .input-wrap.input-wrap--small-right {
        width: 230px;
    }
}