@import (less) "normalize.css";
html {
    background: @white;
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
}
.main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 5rem;
}
footer {
    margin-top: -5rem;
}

.container {
    max-width: 96rem;
}



.header__nav {
    ul {
        margin: 0;
        li {
            a {
                .fsize(13);
            }
        }
    }
}