.setBg(@url, @bgSize: 100%, @bgRepeat: no-repeat) {
  width: unit(image-width(@url)) * 0.1rem;
  height: unit(image-height(@url)) * 0.1rem;
  background-image: url(@url);
  background-size: @bgSize;
  background-repeat: no-repeat;
}


@baseFont: 10;
.fsize(@sizeValue: @baseFont, @content: @baseFont) {
  @remValue: @sizeValue/10;
  font-size: ~"@{remValue}rem";
}

/*colors*/
@white: #fff;

@menu-color: #333333;
@header-line: #bbbdbf;
@gray: #bbbdbf;
@dark: #333333;

@contacts-label: #9a9a9a;
@contacts-form-title: #999;
@input-border: #999;
@send-btn: #8bc53f;

@contacts-btn: #bcbdbf;

@project-tile-bg: #cccccc;
@project-descrip-line: #999999;

@slider-arrow: #b4b4b4;
@slider-arrow-hover: #8e8d8d;
@slider-title: #333;
@slider-line: #e6e6e6;

@blog-item-date: #808080;

@gray-light: #d1d2d4;